@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Source Code Pro', monospace;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: #E6E5D4;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 0,5rem;
    position: fixed;
    z-index: 1000;
    right: 0;
    top: 0;
    width: 100%;
    padding: 0.2rem 3%;
    background-color: #D6D5B3

}

.logo {
    display: flex;
}

.logo h1 {
    font-size: 2.2em;
    font-weight: bold;
    padding: 20px 15px;
    color: #333333;
}

.navlist {
    display: flex;
    flex-direction: row;
    gap: 1.4rem;
    margin: 2rem;
}

.navlist a{
    color: black;
    font-size: 1.3rem;
    transition: border-bottom 0.4s ease
}

.navlist a:hover{
    border-bottom: #4285F4 solid 1px;
}

#menu-icon {
	color: black;
	font-size: 1rem;
	z-index: 10001;
	cursor: pointer;
	display: none;
}

#clasesFront {
    margin-top: 8.2rem;
}

h2 {
    margin: 30px 20px;
    margin-bottom: 5px;
    padding: 12px;
    color: #333333;
    font-size: 1.8rem;
}

.cajaClase {
    display: flex;
    flex-direction: column;
}

article {
    display: flex;
    flex-direction: column;
    margin: 20px 10px;
}

article h3 {
    font-size: 1.5rem;
    padding: 5px 20px;
    color: #333333;
}

article p {
    padding: 5px 2px;
    color: #333333;
}

.buttons {
    display: flex;
    flex-direction: row;
}

.boton {
    position: relative;
    display: flex;
    margin: 20px 10px;
    padding: 5px 10px;
    background-color: #395132;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    font-size: 10px;
    font-weight: 800;
    width: 90px;
    height: 36px;
    text-align: center;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.boton:hover {
    transform: translateY(-2.5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: all 0.4s ease;
}

.cajaEjercicio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.2rem;
    margin: 3rem 3rem;
    align-items: center;
    justify-content: center;

}

.cajita {
    display: flex;
    width: 10rem;
    height: 5rem;
    border: 2px solid black;
    align-items: center;
    justify-content: space-around;
}

.cajita a{
    display: flex;
    color: white;
    background-color: #395132;
    width: 80%;
    height: 60%;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    position: relative;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cajita a:hover{
    transform: translateY(-2.5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

footer {
    margin: 0.5rem;
    display: flex;
    justify-content: center;
}

@media (max-width: 990px) {
    #menu-icon {
		display: block;
        font-size: 3rem;
	}
	header{
		padding: 0;
        background-color: #D6D5B3;
	}
	.navlist {
		position: absolute;
		top: 100%;
		right: -100%;
		width: 220px;
        border-radius: 30px;
        gap: 0;
        margin: 1px 5px;
		height: auto;
		background: #bbb;
		opacity: 0.8;
		display: flex;
		align-items: center;
		flex-direction: column;
		padding: 30px 20px;
		transition: all .55s ease;
	}
	.navlist a {
		margin-left: 0;
		display: block;
		margin: 18px 0;
	}
    .navlist a:hover{
        border-bottom: #4285F4 solid 1px;
    }
	.navlist.open {
		right: 0%;
	}
}