* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Georgia, 'Times New Roman', Times, serif;
	list-style: none;
	text-decoration: none;
}

.image {
	opacity: 0; /* Establece la opacidad inicial en 0 */
	transition: opacity 0.5s ease; /* Agrega una transición de 0.5 segundos con una curva de aceleración suave */
}

.image-loaded {
	opacity: 1; /* Establece la opacidad en 1 para mostrar la imagen */
}

body {
	background-color: #7EB77F;
}

header {
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1000;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 15px 9%;
	background-color: #D6D5B3;
}

.logo img {
	width: 200px;
}

.navlist{
	display: flex;
}

.navlist a {
	color: black;
	margin-left: 60px;
	font-size: 18px;
	font-weight: 600;
	border-bottom: 2px solid transparent;
	transition: all .55s ease;
}

.navlist a:hover {
	border-bottom: 2px solid black;
}

#menu-icon {
	color: black;
	font-size: 35px;
	z-index: 10001;
	cursor: pointer;
	display: none;
}

#banner img {
	margin-top: 100px;
	width: 100%;
	height: auto;
}

#principalTitle {
	font-size: 30px;
	text-align: center;
	padding: 20px 10px;
	color: black;
}

#mascotas {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#mascotas article{
	width: 30%;
	height: auto;
	margin: 20px 15px;
	position: relative;
	transition: transform 0.5s ease;
}

#mascotas article:hover {
	transform: translateY(-10px);
}

article img {
	width: 100%;
	height: 80%;
}

article img:hover {
    animation: vibration 0.5s 1 linear;
}

#contacto th{
	padding: 8px 10px;
}

#contacto td {
	padding: 8px 10px;
}

@keyframes vibration {
    0% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(-2px) rotateZ(-2deg);
    }

    40% {
        transform: translateX(2px) rotateZ(2deg);
    }

    60% {
        transform: translateX(-2px) rotateZ(-2deg);
    }

    80% {
        transform: translateX(2px) rotateZ(2deg);
    }

    100% {
        transform: translateX(0);
    }
}

@media (max-width: 1535px) {
	header {
		padding: 15px 3%;
		transition: .2s;
	}
}

@media (max-width: 990px) {
	#menu-icon {
		display: block;
	}
	header{
		padding: 0;
	}
	.navlist {
		position: absolute;
		top: 100%;
		right: -100%;
		width: 300px;
		height: auto;
		background: #bbb;
		opacity: 0.8;
		display: flex;
		align-items: center;
		flex-direction: column;
		padding: 30px 20px;
		transition: all .55s ease;
	}
	.navlist a {
		margin-left: 0;
		display: block;
		margin: 18px 0;
	}
	.navlist.open {
		right: 0%;
	}
	#mascotas {
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
	}
	#mascotas article{
		width: 50%;
		height: auto;
		margin: 20px 15px;
	}
}