* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
}

.logo {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.logo img {
    width: 150px;
}

.navegacion {
    display: flex;
    margin-left: auto;
}

.navegacion-li {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    font-weight: bold;
}

li {
    margin: 20px;
}

li a {
    text-decoration: none;
    color: black;
    font-size: 13pt;
}

li a:visited {
    color: inherit;
}

.banner {
    display: block;
    width: 100%;
    height: auto;
}
